<master-detail-view02-toolbar [sidenav]="sidenav">
</master-detail-view02-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" closed class="app-sidenav">
    <nav>
      <a
        mat-button
        class="nav-link"
        *ngFor="let link of links"
        [routerlink]="link.path"
        routerLinkActive="active"
      >
        <mat-icon>
          {{ link.icon }}
        </mat-icon>
        {{ link.title }}
      </a>
    </nav>
  </mat-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
