#paintingDetailsContainer {
  .pantingDetailsContent {
    display: flex;
    flex-direction: column;

    .mat-form-field-wrapper {
      width: 100%;
    }
  }

  .imageContainer {
    align-self: center;
  }

  .imageWrapper {
    position: relative;
    display: inline-block;
    border: 1px, solid, black;
  }

  .deleteImage {
    position: absolute;
    right: 0;
  }

  .full-width {
    width: 100%;
  }
}
