<mat-card id="paintingDetailsContainer">
  <mat-card-header class="justify-content-center">
    <mat-card-title>
      <h1>
        {{ paintingTitle }}
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form
    [formGroup]="form"
    #formDirective="ngForm"
    (ngSubmit)="save(formDirective)"
  >
    <mat-card-content class="pantingDetailsContent">
      <mat-form-field class="w-100 d-flex" appearance="outline">
        <input
          matInput
          placeholder="title"
          type="text"
          name="title"
          formControlName="title"
        />
        <mat-error *ngIf="form.get('title').hasError('required')"
          >Required Field</mat-error
        >
      </mat-form-field>

      <mat-form-field class="w-100 d-flex" appearance="outline">
        <textarea
          matInput
          placeholder="description"
          type="text"
          name="description"
          formControlName="description"
        ></textarea>
      </mat-form-field>
        <div class="imageContainer" *ngIf="imageExists; else elseFileInput">
          <div class="imageWrapper">
            <button class="deleteImage" mat-icon-button (click)="deleteImage()">
              <mat-icon> clear </mat-icon>
            </button>
            <img
              [src]="imageData"
              class="paintingImage"
              height="250"
              width="250"
            />
          </div>
        </div>
        <ng-template #elseFileInput>

          <button mat-raised-button color="primary" (click)="fileInput.click(); $event.stopImmediatePropagation()">
            <span>Select a image!</span>
            <input
              #fileInput
              type="file"
              name="file"
              accept="image/*"
              class="d-none"
              (change)="upload($event)"
            />
          </button>
        </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
      >
        Save
      </button>
      <button type="button" mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
